<div class="item-hashtags-setting row">
  <div class="span12">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Hashtag:</label>
          <div class="controls"> 
            <div class="input-prepend">
                <span class="add-on">#</span>
                <input class="span2" id="prependedInput" type="text" placeholder="Hashtag">
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Promoted users:</label>
          <div class="controls"> 
          <div class="input-prepend">
            <span class="add-on">@</span>
            <input class="span2"  type="text" placeholder="Username">
          </div>
           <div class="input-prepend">
            <span class="add-on">@</span>
            <input class="span2"  type="text" placeholder="Username">
          </div>
          <button class="btn" type="button">+</button>
        </div>
        <div class="controls"> 
          <label class="checkbox">
            <input type="checkbox"> Show only prometed users
          </label>
        </div>
         <div class="controls"> 
          <a href="#">Go to moderation page</a>
        </div>
        </div>
      </form>
    </div>
</div>