/* @See http://tympanus.net/codrops/2012/06/25/timed-notifications-with-css-animations/ */

.tn-box {
 
  position: relative;
  margin-left:-10px;
  margin-top: 70px;
  padding: 25px 15px;
  text-align: left;
  opacity: 0;
  cursor: default;
  display: none;
}

.tn-box p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0 10px 0 60px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.tn-box p:before{
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 1);
  margin-top: -17px;
  top: 50%;
  left: 20px;
  width: 30px;
  content: 'i';
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  /*height: 30px;*/
  line-height: 30px;
 
}

.tn-progress {
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 60px;
  left: 2%;
  
}

/* Colors */

.tn-box-color-1{
  background: #ffe691;
}
.tn-box-color-1 p {
  color: #7d5912;
}

.tn-box-color-2{
  background: #99ffb1;
  border: 1px solid #7ce294;
}
.tn-box-color-2 p {
  color: #2d8241;
}

.tn-box-color-3{
  background: #dd9aff;
  border: 1px solid #b367db;
}
.tn-box-color-3 p {
  color: #69288b;
}

/* Fire the animations */

 .tn-box {
  display: block;
  -webkit-animation: fadeOut 8s linear forwards;
  -moz-animation: fadeOut 5s linear forwards;
  -o-animation: fadeOut 5s linear forwards;
  -ms-animation: fadeOut 5s linear forwards;
  animation: fadeOut 5s linear forwards;
}

.tn-box .tn-progress {
  -webkit-animation: runProgress 7s linear forwards 0.5s;
  -moz-animation: runProgress 4s linear forwards 0.5s;
  -o-animation: runProgress 4s linear forwards 0.5s;
  -ms-animation: runProgress 4s linear forwards 0.5s;
  animation: runProgress 4s linear forwards 0.5s;
}

/* If you use JavaScript you could add a class instead: */

.tn-box.tn-box-active {
  display: block;
  -webkit-animation: fadeOut 5s linear forwards;
  -moz-animation: fadeOut 5s linear forwards;
  -o-animation: fadeOut 5s linear forwards;
  -ms-animation: fadeOut 5s linear forwards;
  animation: fadeOut 5s linear forwards;
}

.tn-box.tn-box-active .tn-progress {
  -webkit-animation: runProgress 4s linear forwards 0.5s;
  -moz-animation: runProgress 4s linear forwards 0.5s;
  -o-animation: runProgress 4s linear forwards 0.5s;
  -ms-animation: runProgress 4s linear forwards 0.5s;
  animation: runProgress 4s linear forwards 0.5s;
}


@-webkit-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -webkit-transform: translateY(0px);}
  99% { opacity: 0; -webkit-transform: translateY(-30px);}
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -moz-transform: translateY(0px);}
  99% { opacity: 0; -moz-transform: translateY(-30px);}
  100% { opacity: 0; }
}

@-o-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -o-transform: translateY(0px);}
  99% { opacity: 0; -o-transform: translateY(-30px);}
  100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; -ms-transform: translateY(0px);}
  99% { opacity: 0; -ms-transform: translateY(-30px);}
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; transform: translateY(0px);}
  99% { opacity: 0; transform: translateY(-30px);}
  100% { opacity: 0; }
}

@-webkit-keyframes runProgress {
  0%{ width: 350px; background: #89b3aa }
  100%{ width: 0; background: #89b3aa; }
}

@-moz-keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-o-keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-ms-keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}

@keyframes runProgress {
  0%{ width: 0%; background: rgba(255,255,255,0.3); }
  100%{ width: 96%; background: rgba(255,255,255,1); }
}



