@import "compass_twitter_bootstrap";

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}



/* */

body {
  position: relative;
}
.item-settings {
  //background: red;
  
  background: url('../images/cms1.png') transparent no-repeat;


  .item-hashtags-setting {
    padding: 10px 0;
    position: absolute;
    background: #ccc;
    top: 500px;
    left: 273px;
    form {
      padding-left: 40px;
    }
  }

  .promted-users-picker {
    width: 400px;
  }
}


.bubbles {
  background: url('../images/iphone-big-brother.jpg') transparent no-repeat;

  .bubble {
    display: none;
    margin-left: -93px;
    margin-top: 66px;
    width: 435px;
    height: 155px;
    background: url('../images/bubble.png') transparent no-repeat;
    #progress-timer {
      width: 80px;
      margin-top:100px;
      margin-left: 0px
    }
  }

}


.tweets-list {
  margin-top:10px;
}